---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    {% if site.sidebar == false %}
    <!-- NO SIDEBAR -->
    <!-- PostList Container -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
      postlist-container">
      {{ content }}
    </div>
    <!-- Sidebar Container -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
      sidebar-container">
      <!-- Featured Tags -->
      {% include featured-tags.html %}

      <!-- Friends Blog -->
      {% include friends.html %}
    </div>
    {% else %}

    <!-- USE SIDEBAR -->
    <!-- PostList Container -->
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12
      col-xs-12 postlist-container">
      <table summary="Table for page layout." id="tlayout">
        <tr valign="top">
        <td id="layout-content">
        <h1>Welcome to Kaize's Homepage!</h1>
        <table class="imgtable"><tr><td>
        <a href="IMGLINKTARGET"><img src="/img/Kaize_Lin_2.jpg" alt="alt text" width="190px" height="250px" /></a>&nbsp;</td>
        <td align="left"><h1>Kaize Lin</h1>
        <p>Department of Electrical & Computer Engineering<br />
        University of Toronto<br />
        63 St. George St., Toronto, Ontario M5S 2Z9<br />
        <br />
        <br />
        Phone: (+1)4373519831 or (+86)18810638968<br />
        E-mail: <a href="mailto:linkaize1234@gmail.com\">linkaize1234@gmail.com</a></p>
        </td></tr></table>
        <h2>Education</h2>
        <ul>
        <li><p><b>University of Toronto</b>, Toronto,
        2022.1-2023.8(Expected)<br />
        M.Eng. in Electrical and Computer Engineering<br /></p>
        </li>
        </ul>
        <ul>
        <li><p><b>Beihang University</b> (BUAA), Beijing,
        2017.9-2021.6<br />
        B.Eng. in Technology and Apparatus of Measuring and Control<br />
        Overall GPA: 3.74/4.00(89.63/100), Major GPA: 3.79/4.00(90.61/100)<br /></p>
        </li>
        </ul>
        <h2>Research Experience</h2>
        <ul>
        <li><p><b>Star Centroid Extraction Algorithm under Stray Light Background and its FPGA Implementation</b><br />
        <i>Graduate Thesis, Beihang University, Beijing, China, Advisor: Prof. Xinguo Wei</i></p>
        </li>
        <li><p><b>Ethernet based Digital Readout System for Direct Visualization with Real-time Threshold Detection</b><br />
        <i>Research Assistant, Imperial College London, London, British, Advisor: Prof. Pantelis Georgiou</i></p>
        </li>
        <li><p><b>A Piezoelectric Force Sensing Glove for Acupuncture Quantification</b><br />
        <i>Research Assistant, Beihang University, Beijing, China, Advisor: Prof. Shuo Gao</i></p>
        </li>
        </ul>
        <h2>Publications</h2>
        <ul>
        <li><p><b>K. Lin</b>, J. Cao, S. Gao. A Piezoelectric Force Sensing Glove For Acupuncture Quantification.<br />
        <i>2020 IEEE International Conference on Flexible and Printable Sensors and Systems (FLEPS).</i><b> Oral Presentation.</b></p>
        </li>
        <li><p>B. Chen, <b>K. Lin</b>, L. Xu, J. Cao and S. Gao. A Piezoelectric Force Sensing and Gesture Monitoring-Based Technique for Acupuncture Quantification.<br />
        <i>IEEE Sensors Journal,</i> vol. 21, no. 23, pp. 26337-26344, 1 Dec.1, 2021.</p>
        </li>
        </ul>
        <h2>Awards</h2>
        <ul>
        <li><p>Outstanding Graduate, Beihang University, 2021.</p>
        </li>
        <li><p>Academic Excellent Scholarship (top 20%), Beihang University, 2018.</p>
        </li>
        <li><p>The Second Class Scholarship for Contest Excellence (top 15%), Beihang University, 2019.</p>
        </li>
        <li><p>The Second Class Scholarship for Contest Excellence (top 15%), Beihang University, 2018.</p>
        </li>
        <li><p>“FLTRP·ETIC Cup” English Writing Contest - the Second Prize (27 among 299).</p>
        </li>
        <li><p>“FLTRP·ETIC Cup” English Writing Contest - the Third Prize (42 among 305).</p>
        </li>
        <li><p>28th “FungRu” Innovation Contest - the Third Prize (Top 15%).</p>
        </li>
        </ul>
        <h2>Skills</h2>
        <ul>
        <li><p><b>Programming Languages</b>: Python, C, Matlab, C++, Verilog, Javascript.</p>
        </li>
        <li><p><b>Frameworks</b>: PyTorch.</p>
        </li>
        <li><p><b>Language</b>: IELTS<b>-</b>7.5(L8.0, R8.5, W7.0, S6.5)</p>
        </li>
        </ul>
        </td>
        </tr>
        </table>
      {{ content }}
    </div>
    <!-- Sidebar Container -->
    <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-12
      col-xs-12 sidebar-container">
      <!-- Featured Tags -->
      {% include featured-tags.html %}

      <!-- Short About -->
      {% include short-about.html %}

      <!-- Friends Blog -->
      {% include friends.html %}

      <!-- Ads -->
      {% include ads.html %}
    </div>
    {% endif %}
  </div>
</div>

{% if site.page-mathjax %}
<!-- Add support for Mathjax by Voleking-->
<!-- If you want to see formulars well in post preview, Maybe you should add this.-->
<!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
